= form_for [@event, @recap] do |f|
  - if @recap.errors.any?
    #error_explanation
      %h2= "#{pluralize(@recap.errors.count, "error")} prohibited this event_recap from being saved:"
      %ul
        - @erecap.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :attendance
    = f.number_field :attendance
  .field
    = f.label :description
    = f.text_area :description
  .actions
    = f.submit 'Save'
