%p#notice= notice

%p
  %b Attendance:
  = @event_recap.attendance
%p
  %b Description:
  = @event_recap.description

= link_to 'Edit', edit_event_recap_path(@event_recap)
\|
= link_to 'Back', event_recaps_path
