.field.form-group
  =form.hidden_field :user_id, required: :true, :value => current_user.id

.field.form-group
  =form.label :title, "Title"
  =form.text_field :title, required: :true, class: 'form-control'

.field.form-group
  =form.label :description, "Description"
  =form.text_field :description, required: :true, class: 'form-control'

.field.form-group
  =form.label :address, "Address"
  =form.text_field :address, required: :true, class: 'form-control'

.field.form-group
  = form.label :datetime, "Date and Time"
  = form.datetime_field :datetime, required: :true, class: 'form-control'

.field.form-group
  = form.label :image, "Event Image"
  = form.file_field :image, required: :false

-if current_user.admin
  .field.form-group
    = form.label :is_reviewed, "Is the event reviewed?"
    = form.check_box :is_reviewed, required: :true
    
.field
    = link_to 'Back', event_path(@event), class: 'btn btn-outline-primary btn-sm'
    = f.submit 'Save', class: 'btn btn-primary btn-sm'
