.container
  .row
    - events.each do |event|
      .col-md-6.col-lg-4.py-2
        .card.h-100
          - if event.days_until(DateTime.now) > 20
            - date_detail = event.date.to_formatted_s(:short)
          - else
            - date_detail = event.days_until(DateTime.now) < 1 ? "Today" : pluralize(event.days_until(DateTime.now), "day")
          %h4.card-header.text-center= date_detail
          -if event.image.present?
            = image_tag(event.image.url(:grid), :alt => %Q"#{event.title} image", :class => "card-img-top")
          .card-body
            %h4.card-title.event-title #{event.title}
            %p.text-muted #{event.area}
          = link_to "Details", event_path(event), class: "card-footer btn btn-outline-primary btn-sm"
