.container
  .row
    - events.each do |event|
      .col-md-6.col-lg-4.py-2
        .card.h-100
          - if event.days_until(@now)
            - days_text = event.days_until(@now) < 1 ? "Today" : "#{event.days_until(@now)} days"
            %h5.card-header.text-center #{days_text}
          -if event.image.present?
            = image_tag(event.image.url(:grid), :alt => %Q"#{event.title} image", :class => "card-img-top")
          .card-body
            %h4.card-title #{event.title}
            %p.text-muted #{event.area}
          = link_to "Details", event_path(event), class: "card-footer btn btn-outline-primary btn-sm"
