.container
  .row
    - events.each do |event|
      .col-md-6.col-lg-4.py-2
        .card.h-100
          %h4.card-header.text-center= event.days_until(@now)
          -if event.image.present?
            = image_tag(event.image.url(:grid), :alt => %Q"#{event.title} image", :class => "card-img-top")
          .card-body
            %h4.card-title.event-title #{event.title}
            %p.text-muted #{event.area}
          = link_to "Details", event_path(event), class: "card-footer btn btn-outline-primary btn-sm"
