%h2.header Locations
=form_tag locations_path, :class => 'filter-form', :method => :get do
  .filter.row
    .col-3
      =label_tag "distance_filter", "Within"
      =number_field_tag "distance_filter", "#{@distance}", class: 'form-control col-xs-3'
    .col-3
      =label_tag "location_filter", "miles of"
      =text_field_tag "location_filter", "#{@location}", class: 'form-control col-xs-3'
    .col-6.text-left
      =submit_tag "Refine the list of locations", class: 'btn btn-primary filter-btn'

.container-fluid
  -@locations.in_groups_of(3).each do |row|
    .row.top-spacing
      - row.each do |col|
        - if col
          .col-lg-4.col-md-6.col-sm-12
            .card.text-center
              -if col.image.present?
                =image_tag(col.image.url(:grid), :alt => %Q"Picture of #{col.title}", :class =>"card-img-top")
              %a.card-title= link_to "#{col.title}", location_path(col)

.top-spacing
  = link_to "Back to Home", root_url, class: 'btn btn-outline-secondary btn-sm spacing home-link'
  -if @admin
    = link_to "Add new location", new_location_url, class: 'btn btn-primary btn-sm spacing'
