%h2.header Locations
=form_tag locations_path, :class => 'filter-form', :method => :get do
  .filter.row
    .col-3
      =label_tag "distance_filter", "Within"
      =number_field_tag "distance_filter", "#{@distance}", class: 'form-control col-xs-3'
    .col-3
      =label_tag "location_filter", "miles of"
      =text_field_tag "location_filter", "#{@location}", class: 'form-control col-xs-3'
    .col-3
    .col-3
      =submit_tag "Refine the list of locations", class: 'btn btn-primary'
%table.table
  %thead
    %tr
      %th Image
      %th Title
      %th Description
      %th Address

  %tbody
    -@locations.each do |loc|
      %tr
        -if loc.image.present?
          %td.image= image_tag(loc.image.url(:thumb), :alt => %Q"Picture of #{loc.title}")
        %td.title= link_to "#{loc.title}", location_path(loc)
        %td.description #{loc.description}
        %td.details #{loc.address}
-if @admin
  = link_to "Add new location", new_location_url, class: 'btn btn-primary'
= link_to "Back to Home", root_url,  class: 'btn btn-secondary home-link'
