%h2.header Locations
=form_tag locations_path, :class => 'filter-form', :method => :get do
  .filter.row
    .col-3
      =label_tag "distance_filter", "Within"
      =number_field_tag "distance_filter", "#{@distance}", class: 'form-control col-xs-3'
    .col-3
      =label_tag "location_filter", "miles of"
      =text_field_tag "location_filter", "#{@location}", class: 'form-control col-xs-3'
    .col-6.text-left
      =submit_tag "Refine the list of locations", class: 'btn btn-primary filter-btn'

.card-columns
  -@locations.each do |loc|
    .card
      -if loc.image.present?
        = image_tag(loc.image.url(:grid), :alt => %Q"Picture of #{loc.title}", :class =>"card-img-top")
      .card-body
        %h4.card-title #{loc.title}
        %p.text-muted #{loc.address}
        = link_to "Details", location_path(loc), class: "btn btn-outline-primary btn-sm"

%br
  = link_to "Back to Home", root_url, class: 'btn btn-secondary btn-sm  home-link'
  -if @admin
    = link_to "Add new location", new_location_url, class: 'btn btn-primary btn-sm'
