%h3.header Locations

- if (!flash[:notice].nil?)
  %p.notice= flash[:notice]
- if (!flash[:warning].nil?)
  %p.warning= flash[:warning]

%table.table
  %thead
    %tr
      %th Title
      %th Description
      %th Address

  %tbody
    -@locations.each do |loc|
      %tr
        %td.title= link_to "#{loc.title}", location_path(loc)
        %td.description #{loc.description}
        %td.details #{loc.short_address}

%p.home-link= link_to "Back to Home", root_url
