%h2.header #{@location.title}

<<<<<<< 1254428f80de0942b38123ad544cf7ba18dc2484
%h4 #{@location.description}
%h4 #{@location.address}
%h5 Latitude: #{@location.lat}
%h5 Longitude: #{@location.lng}
=======
%h3 #{@location.description}
%h3 #{@location.reverse_geocode}
>>>>>>> NavBar and modified html header tag priority

=link_to 'Back to locations', locations_path
