.container
    -if @location.image.present?
        .location-image= image_tag(@location.image.url(:header), :alt => %Q"#{@location.title} header image")
    %h2.header #{@location.title}

    %h5 Description:
    %p #{@location.description}
    %h5 Address:
    %p #{@location.address}

    -if @admin
        %p= link_to "Edit location", edit_location_path(@location), class: 'btn btn-primary'

=link_to 'Back to locations', locations_path, class: 'btn btn-secondary'
