.container
    -if @location.image.present?
        =image_tag(@location.image.url(:header), :alt => %Q"#{@location.title} header image", :class => 'cover-img')

    .header #{@location.title}
    .section-subtitle #{@location.address}
    %hr
    .section-title About
    .section-subtitle #{@location.description}

    .top-spacing
        =link_to 'Back to locations', locations_path, class: 'btn btn-outline-secondary btn-sm spacing'
        -if @admin
            = link_to "Edit location", edit_location_path(@location), class: 'btn btn-primary btn-sm spacing'
