-if @location.image.present?
    .location-image= image_tag(@location.image.url(:header), :alt => %Q"#{@location.title} header image")
%h2.header #{@location.title}

%h4 #{@location.description}
%h4 #{@location.address}
%h5 Latitude: #{@location.lat}
%h5 Longitude: #{@location.lng}
%h5 #{@location.rating} upvotes
%button upvote
=#button_to( "up vote", :action => "edit", :controller => "locations", :id => @location.id)


=link_to 'Back to locations', locations_path
