!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    - if @title
      %title= @title + " - Madison Country RHC"
    - else
      %title Madison County RHC
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %nav.navbar.navbar-default.navbar-expand-lg.navbar-light.bg-light.sticky-top{:role => "navigation"}
      .navbar-header
        %a.navbar-brand{:href => root_path}
          %span
            = image_tag("/assets/rhcBrand.svg", :alt => "", :height => "40", :width => "40", :class => "d-inline-block")
            = "Madison County"
          %button.navbar-toggler{"data-target" => "#collapsed-bar", "data-toggle" => "collapse", type: "button"}
            %span.navbar-toggler-icon

      .collapse.navbar-collapse{:id => "collapsed-bar"}
        %ul.navbar-nav
          %li.nav-item.my-2= link_to "Events", events_path, class: "nav-link"
          %li.nav-item.my-2= link_to "Locations", locations_path, class: "nav-link"
        %ul.navbar-nav.ml-auto
          - if user_signed_in?
            %li.nav-item.my-2= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link"
          - else
            %li.nav-item.my-2= link_to "Login", new_user_session_path, class: "nav-link"
            %li.nav-item.my-2= link_to "Sign up", new_user_registration_path, class: "nav-link"

    - if (!flash[:success].nil?)
      %p.notice.alert.alert-success= flash[:success]
    - if (!flash[:warning].nil?)
      %p.warning.alert.alert-warning= flash[:warning]
    - if (!flash[:danger].nil?)
      %p.danger.alert.alert-danger= flash[:danger]
    - if (!flash[:info].nil?)
      %p.info.alert.alert-info= flash[:info]
    - if (!flash[:notice].nil?)
      %p.notice.alert.alert-success= flash[:notice]
    - if (!flash[:alert].nil?)
      %p.notice.alert.alert-warning= flash[:alert]

    .container.content-wrapper= yield
